<!DOCTYPE html>
<html lang="mn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <link rel="stylesheet" type="text/css" href="../css/enigma.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <title>Энигма Код</title>
  <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
</head>
<body>

  <div class="title">
    <h1 class="outsideScreen"><span>&Sigma;</span>nigma</h1>
  </div>

  <!-- МЭДЭЭЛЛИЙГ КОДЛОХ, ДЕКОДЛОХ ТОВЧ -->
  <div class="wrapper">
    <div>
      <div class="inOut">
        <button id="encodeButton" class="enigmaButton">Шифрлэх</button>
        <button id="decodeButton" class="enigmaButton">Тайлах</button>
      </div>
      
      <!-- Текст оруулах, гаргах хэсэг -->
      <div class="inOut">
        <textarea name="input" rows="8" cols="80" id="inputMessage" placeholder="Оруулах"></textarea>
        <textarea name="result" rows="8" cols="80" id="result" placeholder="Гаргах"></textarea>
      </div>
    </div>

  </div>

  <script type="text/javascript" src="../js/enigma.js"></script>
  <script type="text/javascript" src="../js/main.js"></script>
  <script>
    // AOS анимац
    AOS.init({
      duration: 1200,
    });

    // Кодлох болон декодлох товчийн үйлдэл
    document.getElementById('encodeButton').addEventListener('click', function() {
      var message = document.getElementById('inputMessage').value;
      var result = encriptMessage(message); // Кодлох функц
      document.getElementById('result').value = result;
    });

    document.getElementById('decodeButton').addEventListener('click', function() {
      var message = document.getElementById('inputMessage').value;
      var result = decriptMessage(message); // Декодлох функц
      document.getElementById('result').value = result;
    });

    // Кодлох функц
    function encriptMessage(message) {
      // Кодлох кодыг энд бичнэ
      return message.split('').reverse().join(''); // Жишээ: Текстийг эргүүлэх
    }

    // Декодлох функц
    function decriptMessage(message) {
      // Декодлох кодыг энд бичнэ
      return message.split('').reverse().join(''); // Жишээ: Текстийг эргүүлэх
    }
  </script>
</body>
</html>
