<!DOCTYPE html>
<html lang="mn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <title>4 Квадрат Код</title>
  <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
</head>
<body>
 
  <!-- КОДЫН НЭР -->
  <div class="title">
    <h1 class="outsideScreen">4 Квадрат Код</h1>
  </div>
  <button class="information" id="information">МЭДЭЭЛЭЛ</button><br><br><br>
  <button class="instructions" id="instructions">ЗААВАР</button>
  <div id="myinformation" class="information_content">

    <!-- агуулга -->
    <div class="information-content">
      <div><span class="close1">&times;</span></div>
      <div class="information-body">
        <p>1. Дөрвөн квадрат код нь үсгийн хосыг шифрлэдэг (Playfair шиг), энэ нь орлуулах кодуудаас илүү хүчтэй бөгөөд давхардсан тоо судлах нь ихээхэн хүнд болно. 
          <br><br>2. Феликс Деластель (1840 - 1902) дөрвөн квадрат кодыг зохион бүтээсэн бөгөөд анх 1902 онд номонд нийтлэгдсэн.
          <br><br>3. Дөрвөн квадрат код нь дөрвөн 5x5 матрицтай, эдгээрийг дөрвөлжин байдлаар байрлуулсан. Хэрэв 'j' үсгийг 'i' үсэгтэй нэгтгэнэ.
          <br><br>4. Шифрлэх дөрвөлжийг түлхүүр ашиглан (давхардсан үсгүүдийг хасах) үүсгэж, үлдсэн үсгүүдийг дарааллын дагуу байрлуулж болно. Эсвэл шифрлэх дөрвөлжийг бүрэн санамсаргүй байдлаар үүсгэж болно.
          <br><br>5. Дөрвөн квадрат алгоритм нь хоёр тусдаа түлхүүрийг ашиглах боломжийг олгодог, нэг нь хоёр шифрлэх матриц бүрийн хувьд.
           </p>
        
      </div>
    </div>
  
  </div>
  <div id="myinstructions" class="instructions_content">

    <!-- агуулга -->
    <div class="instructions-content">
      <div class="instructions-header">
        <span class="close2">&times;</span>
      </div>
      <div class="instructions-body">
        <p>
          <br>1. Шифрлэх текстийг оруулна.
          <br><br>2. Аль нэг үгийг түлхүүр болгон оруулна.
          <br><br>3. 25 үсэгтэй стринг оруулна (key1).
          <br><br>Жишээ: zgptfoihmuwdrcnykeqaxvsbl
          <br><br>4. 25 үсэгтэй стринг оруулна (key2).
          <br><br>Жишээ: mfnbdcrhsaxyogvituewlqzkp
          <br><br>5. Текстийг шифрлэх товчийг дарна.
          <br><br>6. Тайлахын тулд ижил зааврыг дагана. 
        </p>
       
      </div>
    </div>
  
  </div>
  <script>

    var information = document.getElementById("myinformation");
    var instructions = document.getElementById("myinstructions");

    var informtion_button = document.getElementById("information");
    var instructions_button = document.getElementById("instructions");

    var span = document.getElementsByClassName("close1")[0];
    var span1 = document.getElementsByClassName("close2")[0];

    informtion_button.onclick = function() {
      if(information.style.display === "block") {
        information.style.display = "none";
      } else {
        information.style.display = "block";
      }
    }
    
    instructions_button.onclick = function() {
      if(instructions.style.display === "block") {
        instructions.style.display = "none";
      } else {
        instructions.style.display = "block";
      }
    }

    span.onclick = function() {
      information.style.display = "none";
    }
    span1.onclick = function() {
      instructions.style.display = "none";
    }
 
    window.onclick = function(event) {
      if (event.target == information) {
        information.style.display = "none";
      }
    }
    window.onclick = function(event) {
      if (event.target == instructions) {
        instructions.style.display = "none";
      }
    }
  </script>
  
  <!-- МЭДЭЭЛЛИЙГ КОДЛОХ, ДЕКОДЛОХ ТАВИЛГА -->
  <div class="inOut">
    <textarea name="input" rows="8" cols="80" id="inputMessage" placeholder="Оруулах"></textarea>
    <span>
      <button class="polyButton cipherMethod" id="cipherButtonPoly" onclick="cipherButtonFunction()">Шифрлэх</button>
      <button class="polyButton decipherMethod" id="decipherButton" onclick="decipherButtonFunction()">Тайлах</button>
      <br><br><br>
      <div class="inOut">
        <input type="text" id="enteredKey1" placeholder="Түлхүүр 1 оруулах">
      </div>
      <div class="inOut">
        <input type="text" id="enteredKey2" placeholder="Түлхүүр 2 оруулах">
      </div>
    </span>
    <textarea name="result" rows="8" cols="80" id="result" placeholder="Гаргах"></textarea>
  </div>

  <script type="text/javascript" src="../js/four_square.js"></script>
  <script type="text/javascript" src="../js/main.js"></script>
  <script>
    AOS.init({
      duration: 1200,
    })
  </script>
</body>
</html>
